@accent-color: #0099ff;
@secondary-text-color: #c1c1c1;

// get the page ready
* { outline: none; box-sizing: border-box; }
body { padding: 0; margin: 0; }
html, body, .twitter-photo-insights { height: 100%; width: 100%; position: absolute; top: 0; right: 0; }
body, button, input {
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-size: 1em;
}
h1, h2, h3, h4, h5, h6 {margin: 0;}
h1 { font-size: 2.25em; font-weight: normal; font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;}
h2 { font-size: 1.75em; font-weight: normal;}
h3 { font-size: 1.5em;  font-weight: normal;}
h4 { font-size: 1.25em; font-weight: normal;}
h5 { font-size: 1em;  font-weight: normal;}
h6 { font-size: 1em;  font-weight: normal;}

a {
  &:visited, &:link {
    color: @secondary-text-color;
  }
  &:hover, &:active {
    color: @accent-color;
  }
}

// let the real CSS begin
.twitter-photo-insights {
  display: flex;
  flex-direction: column;

  /* Center the contents of the bubble chart */
  .bubble-chart-container {
    flex: 1;
    position: relative;
    display: flex;
    user-select: none;
    justify-content: center;

    .bubble {
      fill: rgb(31, 119, 180);
      fill-opacity: .25;
      stroke: rgb(31, 119, 180);
      stroke-width: 1px;
      &.leaf {
        fill: #ff7f0e;
        fill-opacity: 1;
      }
    }

    .bubble-chart-text {
      /* Center text in the circle, and hide any overflow */
      .bubble-label {
        text-align: center;
        overflow: hidden;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 50%;
        will-change: left, top, height, width;
        /* Show the overflow when hovering over a label */
        &:hover {
          overflow: visible;
          font-weight: bold;
        }
        /* Optional, but recommended - reduce the size of text on medium bubbles */
        &.medium {
          font-size: 0.8em;
        }
        /* Optional, but recommended - hide the text on small bubbles */
        &.small {
          font-size: 0;
          /* Make sure to unhide the text when hovering */
          &:hover {
            font-size: 0.8em;
          }
        }
      }
    }
}
}
